body {
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calci {
    background-color: black;
    box-shadow: 1rem solid tomato;
    border-radius: 6px;
    border: 2px solid black;
    width: 300px;
    height: 550px;
    overflow: hidden;
}

form input {
    height: 150px;
    width: 292px;
    border: 2.5px solid white;
    text-align: rights;
    font-size: 2rem;
    background-color: black;
    color: aliceblue;
    cursor: text;
    text-align: right;
    pointer-events: '';
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button {
    flex: 0 0 20%;
    height: 52px;
    width: 60px;
    border-radius: 5px;
    font-size: 22px;
    margin: 5px;
    border: 1px solid seashell;
    cursor: pointer;
}

.btn-yellow {
    background-color: yellow;
    color: black;
}

.btn-white {
    background-color: antiquewhite;
    color: black;
}

.btn-equal {
    background-color: green;
    color: black;
}

.btn-clear {
    background-color: red;
    color: black;
}